@using TravelAdvisor.Models
@model TravelAdvisor.Models.CountriesCitiesAttractionVeiwModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div id="portfolio-wrapper">
        <div id="portfolio" class="container">
            <div class="title">
                <h2> information fields</h2>
                <span class="byline"> add info and photo of the attraction</span>
            </div>
            <table>
                <tr>
                    <td>
                        <h4> @Html.LabelFor(model => model.Attraction.AttractionName, string.Format("{0}: ", Html.DisplayNameFor(m => m.Attraction.AttractionName)), new {@class = "control-label col-md-2"})</h4>
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Attraction.AttractionName, new {htmlAttributes = new {@class = "form-control", style = "float:left; width:200px"}})
                        @Html.ValidationMessageFor(model => model.Attraction.AttractionName, "", new {@class = "text-danger"})
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>@Html.LabelFor(model => model.Attraction.CountryId, new {@class = "control-label col-md-2"})</h4>
                    </td>
                    <td>
                        @Html.DropDownList("CountryId", new SelectList(Model.Countries, "CountryId", "Name", 0), "", new {@class = "form-control", style = "float:left; width:200px" })
                        @Html.ValidationMessageFor(model => model.Attraction.CountryId, "", new {@class = "text-danger"})
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4> @Html.LabelFor(model => model.Attraction.CityId, new { @class = "control-label col-md-2" })</h4>
                    </td>
                    <td>
                        @Html.DropDownList("CityId", new SelectList(Model.Cities, "CityId", "CityName", 0), "", new {@class = "form-control", style = "float:left; width:200px" })
                        @Html.ValidationMessageFor(model => model.Attraction.CityId, "", new {@class = "text-danger"})
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>@Html.LabelFor(model => model.Attraction.Type, new { @class = "control-label col-md-2" })</h4>
                    </td>
                    <td>
                        @Html.EnumDropDownListFor(x=>x.Enum, new { @class = "control-label col-md-2", style = "width: 200px"})
                        @Html.ValidationMessageFor(model => model.Attraction.Type, "", new {@class = "text-danger"})
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>@Html.LabelFor(model => model.Attraction.Description, new { @class = "control-label col-md-2" })</h4>
                    </td>
                    <td>
                        @Html.TextAreaFor(model => model.Attraction.Description, new {htmlAttributes = new {@class = "form-control", style = "float:left; width:600px;" } })
                        @Html.ValidationMessageFor(model => model.Attraction.Description, "", new {@class = "text-danger"})
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4> @Html.LabelFor(model => model.Attraction.ImageName, new { @class = "control-label col-md-2" })</h4>
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Attraction.ImageName, new {htmlAttributes = new {@class = "form-control", style = "float:left; width:200px" } })
                        @Html.ValidationMessageFor(model => model.Attraction.ImageName, "", new {@class = "text-danger"})
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="button" />
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
