@model IEnumerable<TravelAdvisor.Models.AttractionsViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Attractions</title>
</head>
<body>
<div id="page" class="container">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AttractionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttractionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CityId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AttractionId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AttractionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CityId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {/* id=item.PrimaryKey */}) |
                    @Html.ActionLink("Details", "Details", new {/* id=item.PrimaryKey */}) |
                    @Html.ActionLink("Delete", "Delete", new {/* id=item.PrimaryKey */})
                </td>
            </tr>
        }

    </table>
</div>
</body>
</html>
